<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title or "Sobre coisas" }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div
      class="max-w-md mx-auto overflow-hidden md:max-w-2xl p-4 md:px-0 md:py-16"
    >
      <header>
        <h1 class="text-4xl text-left">{{ title }}</h1>
      </header>

      <main class="prose">{{ content | safe }}</main>
    </div>
  </body>
</html>
