<head>
  <title>{{ title }} | Sobre Coisas</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ description or metadata.description }}">
  <link href="/css/style.css" rel="stylesheet" />
</head>
